@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand";
  position: relative;
  min-height: 100vh;
  color: #5a3e2b;
}

button,
select {
  color: #5a3e2b;
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.logo {
  background-color: #f4a226;
  font-size: 3rem;
  font-family: "Monoton";
  font-weight: 400;
  word-spacing: 20px;
  text-align: center;
  padding: 3rem 0;
}

@media screen and (min-width: 578px) {
  .logo {
    font-size: 6rem;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e5771f;
  padding: 3rem;
  gap: 2rem;
}

.form .desc {
  font-size: 2rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.form .input {
  background-color: #ffebb3;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form .select {
  font-size: 1.5rem;
  background-color: #ffebb3;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 20px;
  justify-self: center;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form .add-btn {
  background-color: #76c7ad;
  color: #5a3e2b;
  border: none;
  border-radius: 20px;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  justify-self: center;
  cursor: pointer;
  font-weight: 700;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 578px) {
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stats {
  text-align: center;
  padding: 3rem;
  background-color: #76c7ad;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
}

.packing-list-container {
  background-color: #5a3e2b;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.packing-list {
  color: #ffebb3;
  font-size: 2rem;
  max-width: 1000px;
  margin-bottom: 30px;
  width: 100%;

  display: grid;
  row-gap: 10px;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 578px) {
  .packing-list {
    grid-template-columns: 1fr 1fr;
  }
  .clear-btn {
    margin-left: 10px;
  }

  .action {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .packing-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .packing-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .packing-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.filter-item,
.clear-btn {
  font-size: 1rem;
  background-color: #ffebb3;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.item-checkox {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.item-checkox {
  accent-color: #e5771f;
}

.strickout {
  text-decoration: line-through;
}

.cross-btn {
  background-color: #5a3e2b;
  border: none;
  color: red;
  font-size: 20px;
  margin-left: 16px;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
